#app {
  font-size: 1.2em;
  text-align: center;
  width: 50%;
  margin: 2em auto;
  background-image: url(https://cdn.pixabay.com/photo/2019/05/25/12/30/iron-man-4228269_960_720.jpg);
  background-size: cover;
}
